<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <title>Cadastro de Conta</title>
</head>
<body>
    <h1>Cadastro de Conta</h1>
    <form id="escolherplanoform" method="post">
    <label for="escolherplanoform">Selecione o Plano:</label>
        <label>
            <input type="radio" name="plano" value="Beauty">
        </label> Beauty
        <label>
            <input type="radio" name="plano" value="Health">
        </label> Health
        <label>
            <input type="radio" name="plano" value="Tech">
        </label> Tech

        <br>//Commit

        <input type="submit" value="Cadastrar Conta">
    </form>


</body>
</html>
